/* survey.css */

.surveyBox {
    position: absolute;
    left:0;
    bottom:0;
    width: 100%; /* 부모 요소의 너비에 맞춤 */
    display: flex;
    flex-direction: column;
    box-shadow: -1px -1px 8px rgba(0, 0, 0, 0.1); /* 적당한 그림자 효과 */
    background-color: white; /* 배경색 추가 */
    padding: 1em; /* 내부 여백 추가 */
    box-sizing: border-box;
}

.surveyBox input[type="email"] {
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    font-size: 0.9em;
    cursor: pointer;
}

.surveyBox textarea {
    margin: 0.5em 0;
    padding: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    height: 100px; /* 크기를 더 크게 설정 */
    resize: vertical; /* 수직 크기 조절 허용 */
    font-size: 0.9em;
    cursor: pointer;
}

.surveyBox button {
    margin-top: 1em;
    padding: 0.5em;
    background-color: rgba(4, 117, 244);
    color: white;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

.surveyBox button:hover {
    background-color: rgba(4, 117, 244, 0.8);
}