@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@tailwind base;

/* Google Fonts에서 Raleway 폰트를 불러오기 위한 import 구문 */
body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5em;
    margin: 0;
}

@tailwind components;
@tailwind utilities;
